Repository virnect-corp/BookClub, pull requests merged in 2022-04, with the labels that each got.

#28 The clean coder chapter 4 5 6
  TheCleanCoder/jongfeel/Chapter4_Coding.md
  TheCleanCoder/jongfeel/Chapter5_Test_Driven_Development.md
  TheCleanCoder/jongfeel/Chapter6_Practicing.md
Labels: 2022, The Clean Coder

#24 프로그래머의 뇌 : 연습문제 2.1-2.4 풀기
  TheProgrammersBrain/byj/Exercise2.1-2.4.md
Labels: 2022, The Programmer's Brain

#25 review chapter 4,5,6
  TheCleanCoder/yongho/Chapter4_코딩.md
  TheCleanCoder/yongho/Chapter5_테스트_주도_개발.md
  TheCleanCoder/yongho/Chapter6_연습.md
Labels: 2022, The Clean Coder

#26 chapter 1,4,5,6
  TheCleanCoder/yunsuk/chapter1.md
  TheCleanCoder/yunsuk/chapter4.md
  TheCleanCoder/yunsuk/chapter5.md
  TheCleanCoder/yunsuk/chapter6.md
Labels: 2022, The Clean Coder

#29 2022/cleancoder/jonghyunyoo/4,5,6
  TheCleanCoder/Jonghyun/Chapter_4_Coding.md
  TheCleanCoder/Jonghyun/Chapter_5_TDD.md
  TheCleanCoder/Jonghyun/Chapter_6_Practicing.md
Labels: 2022, The Clean Coder

#41 add review chapter 7, 8
  TheCleanCoder/seyoung/Chapter7_Professionalism.md
  TheCleanCoder/seyoung/Chapter8_Professionalism.md
Labels: The Clean Coder

#42 Review chapter 7 and 8
  TheCleanCoder/jongfeel/Chapter7_Acceptance_Testing.md
  TheCleanCoder/jongfeel/Chapter8_Testing_Strategies.md
Labels: 2022, The Clean Coder

#44 review chapter 7, 8
  TheCleanCoder/yongho/Chapter7_인수_테스트.md
  TheCleanCoder/yongho/Chapter8_테스트_전략.md
Labels: 2022, The Clean Coder

#43 Chapter 7 and 8 done.
  TheCleanCoder/Jonghyun/Chapter_7_Acceptance_Testing.md
  TheCleanCoder/Jonghyun/Chapter_8_Testing_Strategies.md
Labels: 2022, The Clean Coder

#7 add review chapter 1, 2, 3
  TheCleanCoder/younghwan/Chapter1_Professionalism.md
  TheCleanCoder/younghwan/Chapter2_Saying_No.md
  TheCleanCoder/younghwan/Chapter3_Saying_Yes.md
Labels: 2022, The Clean Coder

#40 chapter 7, 8
  TheCleanCoder/yunsuk/chapter7.md
  TheCleanCoder/yunsuk/chapter8.md
  TheCleanCoder/yunsuk/chapter9.md
Labels: The Clean Coder

#46 클린코드 리뷰 7~8.
  TheCleanCoder/jintae/Chapter4_Coding.md
  TheCleanCoder/jintae/Chapter5_TDD.md
  TheCleanCoder/jintae/Chapter6_Practicing.md
  TheCleanCoder/jintae/Chapter7_Acceptance_Testing.md
  TheCleanCoder/jintae/Chapter8_Testing_Strategies.md
Labels: 2022, The Clean Coder

#52 The clean coder chapter 9, 10
  TheCleanCoder/jongfeel/Chapter10_Estimation.md
  TheCleanCoder/jongfeel/Chapter9_Time_Management.md
Labels: 2022, The Clean Coder
