Repository virnect-corp/BookClub, pull requests merged in 2022-06, with the labels that each got.

#39 프로그래머의 뇌: 연습문제 2.6 풀기
  TheProgrammersBrain/byj/Exercise2.6.md
Labels: 2022, The Programmer's Brain

#70 Review refactoring 2nd edition chapter 1 and 2
  Refactoring2ndEdition/jongfeel/CHAPTER 01 Refactoring A First Example.md
  Refactoring2ndEdition/jongfeel/CHAPTER 02 Principles in Refactoring.md
Labels: 2022, Refactoring 2nd

#69 add: reactering chapter 01, chapter 02
  REFACTORING/yongho/Chapter_01_리팩터링_첫_번째_예시.md
  REFACTORING/yongho/Chapter_02_리팩터링_원칙.md
Labels: 2022, Refactoring 2nd

#71 chapter1, chapter2 review
  Refactoring/younghwan/Chapter1 리팩터링 첫 번째 예시.md
  Refactoring/younghwan/Chapter2 리팩터링 원칙.md
Labels: Refactoring 2nd
