Repository virnect-corp/BookClub, pull requests merged in 2022-05, with the labels that each got.

#48 review chapter 9, 10
  TheCleanCoder/yongho/Chapter10_추정.md
  TheCleanCoder/yongho/Chapter9_시간관리.md
Labels: 2022, The Clean Coder

#55 review chapter 11, 12
  TheCleanCoder/yongho/Chapter11_압박.md
  TheCleanCoder/yongho/Chapter12_함께_일하기.md
Labels: 2022, The Clean Coder

#57 The clean coder chapter 11
  TheCleanCoder/seyoung/Chapter11_Estimation.md
Labels: The Clean Coder

#38 The programmers brain exercise, 2.6
  TheProgrammersBrain/jongfeel/exercise-2.6.md
Labels: 2022, The Programmer's Brain

#58 Review clean coder chapter 11 12
  TheCleanCoder/jongfeel/Chapter11_Pressure.md
  TheCleanCoder/jongfeel/Chapter12_Collaboration.md
Labels: 2022, The Clean Coder

#53 Chapter 9 and 10 done.
  TheCleanCoder/Jonghyun/Chapter_10_Estimation.md
  TheCleanCoder/Jonghyun/Chapter_9_Time_management.md
Labels: 2022, The Clean Coder

#54 Clean code 9,10
  TheCleanCoder/jintae/Chapter10_Estimation.md
  TheCleanCoder/jintae/Chapter9_Time_Management.md
Labels: 2022, The Clean Coder

#63 Add review chapter 13, 14
  TheCleanCoder/jongfeel/Chapter13_Teams_And_Projects.md
  TheCleanCoder/jongfeel/Chapter14_Mentoring_Apprenticeship_And_Craftsmanship.md
Labels: 2022, The Clean Coder

#62 add review chapter 13, 14
  TheCleanCoder/seyoung/Chapter13_TeamsAndProjects.md
  TheCleanCoder/seyoung/Chapter14_Mentoring,ApprenticeshipAndCraftsmanship.md
Labels: The Clean Coder

#59 review chapter 13, 14
  TheCleanCoder/yongho/Chapter13_팀과_프로젝트.md
  TheCleanCoder/yongho/Chapter14_스승과_제자_그리고_장인_정신.md
Labels: 2022, The Clean Coder

#49 feat: chapter 9
  TheCleanCoder/yunsuk/chapter9.md
Labels: 2022, The Clean Coder

#50 add clean coder 9 10 review
  TheCleanCoder/younghwan/Chapter10.md
  TheCleanCoder/younghwan/Chapter9_.md
Labels: 2022, The Clean Coder

#64 마지막 대장정의 마무리.. 지만 또 늦어버렸네요ㅠㅠ
  TheCleanCoder/Jonghyun/Chapter_11_Pressure.md
  TheCleanCoder/Jonghyun/Chapter_12_Collaboration.md
  TheCleanCoder/Jonghyun/Chapter_13_Teams_And_Projects.md
  TheCleanCoder/Jonghyun/Chapter_14_Mentoring,Apprenticeship,And_Craftmanship.md
Labels: 2022, The Clean Coder
